[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
black = "*"
pytest = "*"

[packages]
GetOldTweets3 = "*"
pandas = "*"
plotly = "*"
# remember to add sentiment analysis package here

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
