[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "==3.8.3"
black = "==19.10b0"
pytest = "==6.0.1"
pytest-cov = "==2.10.0"

[packages]
GetOldTweets3 = "==0.0.11"
pandas = "==1.1.0"
plotly = "==4.9.0"
jsonplus = "==0.8.0"

[requires]  
python_version = "3.7"

[pipenv]    
allow_prereleases = true
